.Green{
    background-color: green;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;

}
.Red{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 25px;

}
h1{
    color: #EE5A24;
    font-family: 'Tangerine', serif;
    font-size: 70px;
    text-align: center;
    
    
     }